<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<section>
  <h2>Buttons</h2>
  <div>
    <button mat-button color="primary" (click)="onClick('Basic')">
      Basic Button
    </button>
    <button mat-raised-button color="primary" (click)="onClick('Raised')">
      Raised Button
    </button>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      (click)="onClick('Icon')"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div *ngIf="clicked_btn">
    <p>{{ clicked_btn }} button is pressed.</p>
  </div>
</section>

<mat-divider></mat-divider>

<section>
  <h2>Slider</h2>
  <div>
    <mat-slider
      thumbLabel
      min="1"
      max="100"
      step="1"
      value="20"
      [(ngModel)]="slide_var"
    ></mat-slider>
  </div>
  <div>Value: {{ slide_var }}</div>
</section>

<mat-divider></mat-divider>

<section>
  <h2>Form</h2>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <button mat-button color="primary" (click)="onSubmit()">Submit</button>
  </div>

  <div>Email: {{ input_email }}</div>
  <div>Password: {{ input_password }}</div>
</section>

<mat-divider></mat-divider>
